* {
    font-family: Atkinson;
}

h2 {
    font-family: Atkinson;
    font-weight: bold;
}

#headlines {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
}

output img {
    width: 30rem;
}



@font-face {
    font-family: "Atkinson";
    src: url("../fonts/AtHy-regular.woff");
    font-weight: normal;
}

@font-face {
    font-family: "Atkinson";
    src: url("../fonts/AtHy-bold.woff");
    font-weight: bold;
}
@font-face {
    font-family: "Atkinson";
    src: url("../fonts/AtHy-bold-italic.woff");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Atkinson";
    src: url("../fonts/AtHy-italic.woff");
    font-weight: normal;
    font-style: italic;
}