.col {
    display:flex;
    justify-content: normal;
    width: 33%;
    border-bottom: 1px solid black;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

table img {

    width: 100%;
}

.row .col:nth-child(2n) {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom: 0px solid white;
}

.error {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}
